<ul class="navbar-nav ms-auto">
   <li class="nav-item dropdown user-dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
           <i class="fa fa-user-circle"></i>
           <span class="text-white"> | {{loggedUser?.name}} </span>
       </a>
       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
           <a class="dropdown-item" routerLink="/profile">Profile</a>
           <a class="dropdown-item" href="#">Configuration</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" type="button" (click)="onLogoff()">Log out</a>
       </div>
   </li>
 </ul>