<app-menu></app-menu>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h4 class="text-center">Crear usuario</h4>
            <form>
                <div class="mb-3">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" autocomplete="off" required>
                  <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Telefono" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Codigo" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="sede" name="sede" placeholder="Sede" autocomplete="off" required>
                </div>
                <button class="btn btn-success w-100 mb-3"><i class="fa-regular fa-floppy-disk"></i></button>
                <button class="btn btn-primary w-100" routerLink="/list"><i class="fa-solid fa-arrow-left"></i></button>
              </form>
        </div>
    </div>
</div>