<section class="container top-products">
  <h1 class="heading-1">Lista De Servicios</h1>

  <div class="container-products">
    <!-- Producto 1 -->
    <div class="card-product">
      <div class="container-img">
        <img src="../../assets/engineer-rafiki.svg" alt="Desarrollo Movil" />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Desarrollo Movil</h3>
      </div>
    </div>
    <!-- Producto 2 -->
    <div class="card-product">
      <div class="container-img">
        <img
          src="../../assets/platform software-rafiki.svg"
          alt="Desarrollo Web"
        />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Desarrollo Web</h3>
      </div>
    </div>
    <!--  -->
    <div class="card-product">
      <div class="container-img">
        <img
          src="../../assets/girl-rafiki.svg"
          alt="Diseño Grafico"
        />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Diseño Grafico</h3>
      </div>
    </div>
    <!--  -->
    <div class="card-product">
      <div class="container-img">
        <img src="../../assets/testing-rafiki.svg" alt="Testing" />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Testing</h3>
      </div>
    </div>

    <div class="card-product">
      <div class="container-img">
        <img src="../../assets/developer-rafiki.svg" alt="Videojuegos" />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Desarrollo de Videojuegos</h3>
      </div>
    </div>

    <div class="card-product">
      <div class="container-img">
        <img src="../../assets/consulting-rafiki.svg" alt="Consultoría" />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Consultoría</h3>
      </div>
    </div>

    <div class="card-product">
      <div class="container-img">
        <img src="../../assets/learning-rafiki.svg" alt="Formación" />
        <div class="button-group">
          <span>
            <i class="fa-regular fa-eye"></i>
          </span>
          <span>
            <i class="fa-regular fa-heart"></i>
          </span>
          <span>
            <i class="fa-solid fa-code-compare"></i>
          </span>
        </div>
      </div>
      <div class="content-card-product">
        <h3>Formación</h3>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
    <!-- Información adicional -->
</footer>
