<div class="container">
  <img src="" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Mantengámonos en contacto</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
        dolorum adipisci recusandae praesentium dicta!
      </p>

      <div class="info">
        <div class="information">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.368062440605!2d-6.0420975!3d37.357467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ce1f1cda7cb%3A0xdd4192e9067a156b!2sAsociaci%C3%B3n%20de%20vecinos%20Atarazana!5e0!3m2!1ses!2sco!4v1714447266041!5m2!1ses!2sco"
            width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="social-media">
        <p>Conecta con nosotros :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form action="index.html" autocomplete="off">
        <h3 class="title">Contacta con nosotros</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Nombres</label>
          <span>Nombres</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Telefono</label>
          <span>Telefono</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Mensaje</label>
          <span>Mensaje</span>
        </div>
        <input type="submit" value="Enviar" class="btn" />
      </form>
    </div>
  </div>
</div>