<app-menu></app-menu>
<section class="home" id="home">
    <div class="image">
        <img [src]="imagenUrl" alt="Imagen de fondo">
    </div>

    <div class="content">
        <h3>Nuestros Servicios</h3>
        <p>¿Necesitas una presencia en línea impresionante para tu negocio o proyecto? ¡Estás en el lugar correcto!🚀</p>
        <a routerLink="/list" class="btn"> Descubrelos aqui <span class="fa-solid fa-chevron-right"></span> </a>
    </div>
</section>

<section class="icons-container">
    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>Doctores al trabajo</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>140+</h3>
        <p>Doctores al trabajo</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>500+</h3>
        <p>Doctores al trabajo</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>500+</h3>
        <p>Doctores al trabajo</p>
    </div>
</section>

<section class="services" id="services">
    <h1 class="heading">Nuestros <span>mejores servicios</span></h1>
</section>

<section class="container top-products">
  
    <div class="container-products">
      <!-- Producto 1 -->
      <div class="card-product">
        <div class="container-img">
          <img src="../../assets/engineer-rafiki.svg" alt="Desarrollo Movil" />
          <div class="button-group">
            <span>
              <i class="fa-regular fa-eye"></i>
            </span>
            <span>
              <i class="fa-regular fa-heart"></i>
            </span>
            <span>
              <i class="fa-solid fa-code-compare"></i>
            </span>
          </div>
        </div>
        <div class="content-card-product">
          <h3>Desarrollo Movil</h3>
        </div>
      </div>
      <!-- Producto 2 -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="../../assets/platform software-rafiki.svg"
            alt="Desarrollo Web"
          />
          <div class="button-group">
            <span>
              <i class="fa-regular fa-eye"></i>
            </span>
            <span>
              <i class="fa-regular fa-heart"></i>
            </span>
            <span>
              <i class="fa-solid fa-code-compare"></i>
            </span>
          </div>
        </div>
        <div class="content-card-product">
          <h3>Desarrollo Web</h3>
        </div>
      </div>
      <!--  -->
      <div class="card-product">
        <div class="container-img">
          <img
            src="../../assets/girl-rafiki.svg"
            alt="Diseño Grafico"
          />
          <div class="button-group">
            <span>
              <i class="fa-regular fa-eye"></i>
            </span>
            <span>
              <i class="fa-regular fa-heart"></i>
            </span>
            <span>
              <i class="fa-solid fa-code-compare"></i>
            </span>
          </div>
        </div>
        <div class="content-card-product">
          <h3>Diseño Grafico</h3>
        </div>
      </div>
    </div>
  </section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Secciones</h4>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Servicios</h4>
                <ul>
                    <li><a href="#">Diseño de apis</a></li>
                    <li><a href="#">Desarrollo Web</a></li>
                    <li><a href="#">Diseño Grafico</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
