<main class="content">
    <app-header></app-header>
    <app-menu></app-menu>

    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="First slide">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>
            
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="https://www.bootdey.com/image/800x280/FFB6C1/000000" alt="">
                        </div>
                        <h3><a href="blog-details.html">All photographs are accurate</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">Continue Reading</a>
                        </div>
                        <ul class="stats">
                            <li><a href="javascript:void(0);">General</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-heart">28</a></li>
                            <li><a href="javascript:void(0);" class="fa fa-comment">128</a></li>
                        </ul>
                    </div>
                </div>
                                        
                <ul class="pagination pagination-primary">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                </ul>
            </div>
            <app-sidebar class="col-lg-4 col-md-12 right-box"></app-sidebar>
        </div>    
    </div>

    <app-footer></app-footer>
</main>