<form class="register-form">
    <h2>Registrarse</h2>
    <div class="form-group">
        <label for="name">Nombres</label>
        <input type="text" id="name" name="name" [(ngModel)]="signUpObj.name">
    </div>
    <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="signUpObj.lastname">
    </div>
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" [(ngModel)]="signUpObj.email">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="signUpObj.password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="signUpObj.confirmPassword">
    </div>
    <button (click)="onRegister()">Registrarse</button>
    <div class="d-flex gap-1 justify-content-center mt-1">
        <div>¿Ya estas registrado?</div>
        <a type="button" class="text-decoration-none text-info fw-semibold" routerLink="/auth/login">Iniciar Sesión</a>
    </div>
</form> 