.section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    text-transform: uppercase;
    color: black;
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: #407BFF;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: .2rem solid #407BFF;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    color: #407BFF;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn span {
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: #407BFF;
    color: #FFF;
    margin-left: .5rem;
}

.btn:hover {
    background: #407BFF;
    color: #FFF;
}

.btn:hover span{
    color: #407BFF;
    background: #FFF;
    margin-left: 1rem;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 90%;
}

.home .content {
    flex: 1 1 45rem;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #444;
    line-height: 1.8;
    text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
}

.home .content p {
    font-size: 1.7rem;
    color: #777;
    line-height: 1.8;
    padding: 1rem 0;
}

.icons-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-right: 80px;
    margin-left: 80px;
}

.icons-container .icons {
    border: .2rem solid #407BFF;
    box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i{
    font-size: 4.5rem;
    color: #407BFF;
    padding-bottom: .7rem; 
}

.icons-container .icons h3{
    font-size: 4.5rem;
    color: black;
    padding: .5rem 0;
    text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
}

.icons-container .icons p{
    font-size: 1.7rem;
    color: #777;
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: #407BFF;
	color: #fff;
}

.container-options span.active {
	background-color: #407BFF;
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    margin: 2rem; /* Agregado margen alrededor del contenedor */
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	/* box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid #407BFF;
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: #407BFF;
}

.button-group span i {
	font-size: 1.5rem;
	color: #407BFF;
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #407BFF;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
    margin-left: -30px;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}